<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.gogo.admin.dao.GogoResourceMapper">
  <resultMap id="BaseResultMap" type="com.lhj.gogo.admin.model.GogoResource">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
    <result column="RESOURCE_TYPE" jdbcType="VARCHAR" property="resourceType" />
    <result column="RESOURCE_PATH_TYPE" jdbcType="VARCHAR" property="resourcePathType" />
    <result column="RESOURCE_PATH" jdbcType="VARCHAR" property="resourcePath" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="RESOURCE_CODE" jdbcType="VARCHAR" property="resourceCode" />
    <result column="YEAR_TYPE" jdbcType="VARCHAR" property="yearType" />
    <result column="CLICK" jdbcType="INTEGER" property="click" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RESOURCE_NAME, RESOURCE_TYPE, RESOURCE_PATH_TYPE, RESOURCE_PATH, REMARK, STATE, 
    CREATE_TIME, RESOURCE_CODE, YEAR_TYPE, CLICK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gogo_resource
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gogo_resource
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lhj.gogo.admin.model.GogoResource">
    insert into gogo_resource (ID, RESOURCE_NAME, RESOURCE_TYPE, 
      RESOURCE_PATH_TYPE, RESOURCE_PATH, REMARK, 
      STATE, CREATE_TIME, RESOURCE_CODE
      )
    values (#{id,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{resourceType,jdbcType=VARCHAR}, 
      #{resourcePathType,jdbcType=VARCHAR}, #{resourcePath,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{resourceCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhj.gogo.admin.model.GogoResource">
    insert into gogo_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME,
      </if>
      <if test="resourceType != null">
        RESOURCE_TYPE,
      </if>
      <if test="resourcePathType != null">
        RESOURCE_PATH_TYPE,
      </if>
      <if test="resourcePath != null">
        RESOURCE_PATH,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="resourceCode != null">
        RESOURCE_CODE,
      </if>
      <if test="yearType != null">
        YEAR_TYPE,
      </if>
    <if test="click != null">
        CLICK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="resourcePathType != null">
        #{resourcePathType,jdbcType=VARCHAR},
      </if>
      <if test="resourcePath != null">
        #{resourcePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceCode != null">
        #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="yearType != null">
        #{yearType,jdbcType=VARCHAR},
      </if>
      <if test="click != null">
        #{click,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhj.gogo.admin.model.GogoResource">
    update gogo_resource
    <set>
      <if test="resourceName != null">
        RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        RESOURCE_TYPE = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="resourcePathType != null">
        RESOURCE_PATH_TYPE = #{resourcePathType,jdbcType=VARCHAR},
      </if>
      <if test="resourcePath != null">
        RESOURCE_PATH = #{resourcePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceCode != null">
        RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR},
      </if>
        <if test="yearType != null">
        YEAR_TYPE = #{yearType,jdbcType=VARCHAR},
      </if>
      <if test="click != null">
        CLICK = #{click,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhj.gogo.admin.model.GogoResource">
    update gogo_resource
    set RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      RESOURCE_TYPE = #{resourceType,jdbcType=VARCHAR},
      RESOURCE_PATH_TYPE = #{resourcePathType,jdbcType=VARCHAR},
      RESOURCE_PATH = #{resourcePath,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectResourceList" parameterType="com.lhj.gogo.admin.model.GogoResource" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gogo_resource
    <where>
       <if test="resourceType != null">
        RESOURCE_TYPE = #{resourceType,jdbcType=VARCHAR}
      </if>
       <if test="yearType != null">
      AND  YEAR_TYPE = #{yearType,jdbcType=VARCHAR}
      </if>
  </where>       
     <if test="start != null and numPerPage != null and numPerPage > 0">
      LIMIT #{start}, #{numPerPage}
      </if>
   
  </select>
  
  <select id="selectResourceCount" parameterType="com.lhj.gogo.admin.model.GogoResource" resultType="INTEGER">
    select 
    COUNT(*)
    from gogo_resource
  </select>
</mapper>